.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px 0px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    cursor: pointer;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-right: 8px;
    float: right;
}

.titulo {
    margin-left: 8px;
}

#contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 300px;
}

#contact_form p {
    width: 100%;
    font-size: 0.7rem;
    overflow-wrap: break-word;
}

.consent_checkbox {
    display: flex;
    padding: 10px 0 0 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button:disabled {
    cursor: default;
    background-color: #807d7d;
}